*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
 font-family: 'Nunito', sans-serif;
 font-size: 20px;
 line-height: 1.5;
}

.container {
  width:100%;
}

.video-content {
  width:100%;
  margin: 0 auto;
  margin-top: 10px;
}

.transcript {
  width: 85%;
  margin: 40px auto;
}

.highlight {
  color: #ffad33;
}


.mejs__controls:not([style*="display: none"]){
  background: linear-gradient(rgba(131, 169, 135, 0.5), rgba(85, 81, 117, 0.6));

}

/*Media queries*/

@media (min-width: 769px) {

  body {
   font-size: 17px;
   line-height: 1.8;
  }

  .container {
    width: 60%;
    margin: 0 auto;
  }

	.video-content {
		width: 100%;
    margin-top: 40px;
  }

  .transcript {
    width: 100%;
  }


}
